@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-libre-bodoni {
  font-family: 'Libre Bodoni', serif;
}

:root {
  --font-tilt: 'Tilt Warp', cursive;
  --font-rubik: 'Rubik', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-didot: 'GFS Didot', serif;
  --font-bodoni: 'Libre Bodoni', serif;
  --font-italiana: 'Italiana', serif;
}

body {
  font-family: var(--font-rubik);
}
